<div class="dashboard">
  <div class="jumbotron">
    <h2><strong>Hola Maestro <%= current_teacher.nombre %>!</strong></h2>
    <p>Bienvenido(a) a la Aplicacion Web Gestion del Curso</p>
    <%= link_to 'Ver Mi Perfil', teacher_profile_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>